
<div *ngIf="categories">
  <div class="container" id="main-container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <form #searchForm="ngForm">
            <div class="container input-group">
              <input (ngModelChange)="searchBy(key.value)" ngModel name="key" #key="ngModel" id="key" type="search"
                class="form-control" placeholder="Search..">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>
        <br><br>
        <div class="card card-body">
          <div class="">
            <span class="text-left">
              <h5 class="card-title text-uppercase mb-0">Manage Categories</h5>
            </span>
            <span class="text-right">
              <h5 class="card-title text-uppercase mb-0">
                <a class="text-success" href="javascript:void(0);" (click)="onDisplayAdd()">
                  <strong>
                    + Add New Category
                  </strong>
                </a>
              </h5>
              <br>
            </span>
          </div>
          <div class="table-responsive">
            <table class="table no-wrap user-table mb-0 table-hover">
              <thead>
                <tr>
                  <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                  <!-- <th scope="col" class="border-0 text-uppercase font-medium">Customer</th> -->
                  <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">Parent Category</th>
                  <th scope="col" class="border-0 text-uppercase font-medium text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of categories?.content">
                  <th class="pl-4">#</th>
                  <td>
                    <span class="">{{ c?.name | uppercase }}</span>
                    <br>
                    <span class="text-muted">name</span>
                  </td>
                  <td>
                    <span *ngIf="!c?.parentCategory" class="">-</span><br>
                    <span *ngIf="c?.parentCategory" class="">{{ c?.parentCategory?.name }}</span>
                  </td>
                  <td class="text-center">
                    <a href="javascript:void(0);" 
                        (click)="onUpdate(c)"
                        class="btn btn-outline-warning text-dark btn-circle btn-lg btn-circle ml-2"><i
                        class="fa fa-edit"></i></a>
                    <a href="javascript:void(0);" 
                        (click)="onDelete(c?.id)"
                        class="btn btn-outline-danger btn-circle btn-lg btn-circle ml-2"><i
                        class="fa fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg " role="document">
      <div class="modal-content card">
        <div class="modal-header">
          <h4 class="modal-title text-primary " id="exampleModalLabel">Add Category Information</h4>
          <button onclick="document.getElementById('addCategory').click()" type="button" class="close"
            data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body card-body">
          <form #addCategoryForm="ngForm" (ngSubmit)="onAdd(addCategoryForm)">
            <div class="container">
              <div class="panel-body inf-content">
                <div class="row">
                  <div class="col-md-12">
                    <div align="center">
                      <div class="table-responsive">
                        <table class="table ">
                          <tbody class="table-user-information">
                            <tr>
                              <td>
                                <strong>
                                  <span class="text-dark">
                                    Category Name
                                  </span>
                                </strong>
                              </td>
                              <td class="">
                                <span>
                                  <input type="text" name="name" ngModel class="form-control" placeholder="name..">
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <strong>
                                  <span class="text-dark">
                                    Parent Category
                                  </span>
                                </strong>
                              </td>
                              <td class="">
                                <span>
                                  <select ngModel name="parentCategory" class="form-select" aria-label="Default select example">
                                    <option selected value="">-> Select Parent Category ?</option>
                                  </select>
                                </span>
                              </td>
                            </tr>
                            <span class=""></span>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <span>
                <button type="button" onclick="document.getElementById('addCategory')?.click()"
                  id="addCategory-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </span>
              <span>
                <button type="submit" [disabled]="addCategoryForm.invalid" class="btn btn-info">Add</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>





  <div class="modal fade" id="updateCategory" tabindex="-1" role="dialog"
    aria-labelledby="updateCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg " role="document">
      <div class="modal-content card">
        <div class="modal-header">
          <h4 class="modal-title text-primary " id="exampleModalLabel">Update Category Information</h4>
          <button onclick="document.getElementById('updateCategory').click()" type="button" class="close"
            data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body card-body">
          <form #updateCategoryForm="ngForm" (ngSubmit)="onUpdate(updateCategoryForm)">
            <div class="container">
              <div class="panel-body inf-content">
                <div class="row">
                  <div class="col-md-12">
                    <div align="center">
                      <div class="table-responsive">
                        <table class="table ">
                          <tbody class="table-user-information">
                            <tr>
                              <td>
                                <strong>
                                  <span class="text-dark">
                                  </span>
                                </strong>
                              </td>
                              <td>
                                <strong>
                                  <span class="">
                                    <input type="hidden" [ngModel]="category?.id" name="categoryId" readonly />
                                  </span>
                                </strong>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <strong>
                                  <span class="text-dark">
                                    Category Name
                                  </span>
                                </strong>
                              </td>
                              <td class="">
                                <span>
                                  <input type="text" name="name" ngModel="{{ category?.name | uppercase }}" class="form-control" placeholder="name..">
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <strong>
                                  <span class="text-dark">
                                    Parent Category
                                  </span>
                                </strong>
                              </td>
                              <td class="">
                                <span>
                                  <select ngModel name="parentCategory" class="form-select"
                                    aria-label="Default select example">
                                    <option selected value="">-> Select Parent Category ?</option>
                                  </select>
                                </span>
                              </td>
                            </tr>
                            <span class=""></span>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <span>
                <button type="button" onclick="document.getElementById('updateCategory')?.click()"
                  id="updateCategory-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </span>
              <span>
                <button type="submit" onclick="document.getElementById('updateCategory')?.click()"
                  [disabled]="updateCategoryForm.invalid" class="btn btn-info">Update</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  



</div>





