
body {
  margin-top: 20px;
}

.pb-6,
.py-6 {
  padding-bottom: 3.75rem !important;
}

.pt-6,
.py-6 {
  padding-top: 3.75rem !important;
}

.hover-scale,
.hover-scale:hover {
  transition: transform .2s ease-in;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .4rem;
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}



