<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <button (click)="onClickToggleMenu()" class="btn btn-primary" id="sidebarToggle">Menu</button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item active"><a class="nav-link" routerLink="/">Home</a></li>
        <!-- <li class="nav-item"><a class="nav-link" routerLink="#!">Link</a></li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Profile</a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="">Action</a>
            <a class="dropdown-item" routerLink="">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>