
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="">ATIC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="">Contact</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="authenticate">Login</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="register">Register</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="main-container">
  <!-- Page header with logo and tagline-->
  <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        <h1 class="fw-bolder">Welcome Home!</h1>
        <p class="lead mb-0">A Bootstrap 5 starter layout for your next blog homepage</p>
      </div>
    </div>
  </header>
  <!-- Page content-->
  <div class="container">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">
        <!-- Featured blog post-->
        <div class="card mb-4">
          <a routerLink=""><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
          <div class="card-body">
            <div class="small text-muted">January 1, 2021</div>
            <h2 class="card-title">Featured Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
              nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus
              possimus, veniam magni quis!</p>
            <a class="btn btn-primary" routerLink="">Read more →</a>
          </div>
        </div>
        <!-- Nested row for non-featured blog posts-->
        <div class="row">
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card mb-4">
              <a routerLink=""><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                  alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">January 1, 2021</div>
                <h2 class="card-title h4">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                  nulla.</p>
                <a class="btn btn-primary" routerLink="">Read more →</a>
              </div>
            </div>
            <!-- Blog post-->
            <div class="card mb-4">
              <a routerLink=""><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                  alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">January 1, 2021</div>
                <h2 class="card-title h4">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                  nulla.</p>
                <a class="btn btn-primary" routerLink="">Read more →</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card mb-4">
              <a routerLink=""><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                  alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">January 1, 2021</div>
                <h2 class="card-title h4">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                  nulla.</p>
                <a class="btn btn-primary" routerLink="">Read more →</a>
              </div>
            </div>
            <!-- Blog post-->
            <div class="card mb-4">
              <a routerLink=""><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                  alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">January 1, 2021</div>
                <h2 class="card-title h4">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                  nulla? Quos cum ex quis soluta, a laboriosam.</p>
                <a class="btn btn-primary" routerLink="">Read more →</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Pagination-->
        <nav aria-label="Pagination">
          <hr class="my-0" />
          <ul class="pagination justify-content-center my-4">
            <li class="page-item disabled"><a class="page-link" routerLink="" tabindex="-1" aria-disabled="true">Newer</a>
            </li>
            <li class="page-item active" aria-current="page"><a class="page-link" routerLink="">1</a></li>
            <li class="page-item"><a class="page-link" routerLink="">2</a></li>
            <li class="page-item"><a class="page-link" routerLink="">3</a></li>
            <li class="page-item disabled"><a class="page-link" routerLink="">...</a></li>
            <li class="page-item"><a class="page-link" routerLink="">15</a></li>
            <li class="page-item"><a class="page-link" routerLink="">Older</a></li>
          </ul>
        </nav>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4">
          <div class="card-header">Search</div>
          <div class="card-body">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Enter search term..."
                aria-label="Enter search term..." aria-describedby="button-search" />
              <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
          </div>
        </div>
        <!-- Categories widget-->
        <div class="card mb-4">
          <div class="card-header">Categories</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a routerLink="">Web Design</a></li>
                  <li><a routerLink="">HTML</a></li>
                  <li><a routerLink="">Freebies</a></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a routerLink="">JavaScript</a></li>
                  <li><a routerLink="">CSS</a></li>
                  <li><a routerLink="">Tutorials</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Side widget-->
        <div class="card mb-4">
          <div class="card-header">Side Widget</div>
          <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and
            feature the Bootstrap 5 card component!</div>
        </div>
      </div>
    </div>
  </div>






  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content card">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body card-body">

          <div class="text-center">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Andrew Jones"
              class="img-fluid rounded-circle" width="132" height="132">
          </div>

          <form #loginForm="ngForm">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" ngModel name="username" class="form-control" id="username" placeholder="username.."
                required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" ngModel name="password" class="form-control" id="password" placeholder="password.."
                required>
            </div>
            <div class="modal-footer">
              <button type="button" id="login-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="loginForm.invalid"  type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content card">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body card-body">

          <div class="text-center">
            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Andrew Jones"
              class="img-fluid rounded-circle" width="132" height="132">
          </div>

          <form #registerForm="ngForm">
            <div class="form-group">
              <label for="firstname">Firstname</label>
              <input type="text" ngModel name="firstname" class="form-control" id="firstname" placeholder="firstname.."
                required>
            </div>
            <div class="form-group">
              <label for="lastname">Lastname</label>
              <input type="text" ngModel name="lastname" class="form-control" id="lastname" placeholder="lastname.."
                required>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" ngModel name="email" class="form-control" id="email" placeholder="email.." required>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="phone..">
            </div>
            <div class="form-group">
              <label for="birthdate">Birthdate</label>
              <input type="date" ngModel name="birthdate" class="form-control" id="birthdate" placeholder="birthdate..">
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" ngModel name="username" class="form-control" id="username" placeholder="username.."
                required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" ngModel name="password" class="form-control" id="password" placeholder="password.."
                required>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm password</label>
              <input type="password" ngModel name="confirmPassword" class="form-control" id="confirmPassword"
                placeholder="confirmPassword.." required>
            </div>
            <div class="form-group">
              <label for="role">User role</label>
              <select ngModel name="role" class="form-select" aria-label="Default select example">
                <option selected>==> Select your Role <==</option>
                <option value="CUSTOMER">CUSTOMER</option>
                <option value="WORKER">WORKER</option>
                <option value="MANAGER">MANAGER</option>
                <option value="OWNER">OWNER</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" id="register-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="registerForm.invalid"  type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>




<!-- Bootstrap core JS-->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
<!-- Core theme JS-->
<!-- <script src="./assets/home/js/scripts.js"></script> -->
