
<app-navbar></app-navbar>

<div id="main-container">
  <div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active" data-bs-interval="5000">
        <img height="700" src="../../../assets/home/images/1.jpg"
          class="d-block w-100" alt="...">
        <!--
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
        -->
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img height="700"
          src="../../../assets/home/images/2.jpg"
          class="d-block w-100"
          alt="...">
        <!--
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
        -->
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img height="700"
          src="../../../assets/home/images/4.jpg"
          class="d-block w-100"
          alt="...">
        <!--
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
        -->
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Page header with logo and tagline-->
  <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        <h1 class="fw-bolder">Welcome Home!</h1>
        <p class="lead mb-0">
          You're looking for online reservations for different facilities! <br>
          You're in the right place 👌
        </p>
      </div>
    </div>
  </header>
  <!-- Page content-->
  <div class="container">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">
        <!-- Featured blog post-->
        <div class="card mb-4">
          <a routerLink=""><img class="card-img-top" width="850" height="350"
              src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
          <div class="card-body">
            <div class="small text-muted">January 1, 2021</div>
            <h2 class="card-title">Featured Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
              nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus
              possimus, veniam magni quis!</p>
            <a class="btn btn-primary" routerLink="">Read more →</a>
          </div>
        </div>
        <!-- Nested row for non-featured blog posts-->
        <div class="row">
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card mb-4">
              <a routerLink=""><img class="card-img-top" width="700" height="200"
                  src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">January 1, 2021</div>
                <h2 class="card-title h4">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                  nulla.</p>
                <a class="btn btn-primary" routerLink="">Read more →</a>
              </div>
            </div>
            <!-- Blog post-->
            <div class="card mb-4">
              <a routerLink=""><img class="card-img-top" width="700" height="200"
                  src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">January 1, 2021</div>
                <h2 class="card-title h4">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                  nulla.</p>
                <a class="btn btn-primary" routerLink="">Read more →</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card mb-4">
              <a routerLink=""><img class="card-img-top" width="700" height="200"
                  src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">January 1, 2021</div>
                <h2 class="card-title h4">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                  nulla.</p>
                <a class="btn btn-primary" routerLink="">Read more →</a>
              </div>
            </div>
            <!-- Blog post-->
            <div class="card mb-4">
              <a routerLink=""><img class="card-img-top" width="700" height="200"
                  src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
              <div class="card-body">
                <div class="small text-muted">January 1, 2021</div>
                <h2 class="card-title h4">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                  nulla? Quos cum ex quis soluta, a laboriosam.</p>
                <a class="btn btn-primary" routerLink="">Read more →</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Pagination-->
        <nav aria-label="Pagination">
          <hr class="my-0" />
          <ul class="pagination justify-content-center my-4">
            <li class="page-item disabled"><a class="page-link" routerLink="" tabindex="-1"
                aria-disabled="true">Newer</a>
            </li>
            <li class="page-item active" aria-current="page"><a class="page-link" routerLink="">1</a></li>
            <li class="page-item"><a class="page-link" routerLink="">2</a></li>
            <li class="page-item"><a class="page-link" routerLink="">3</a></li>
            <li class="page-item disabled"><a class="page-link" routerLink="">...</a></li>
            <li class="page-item"><a class="page-link" routerLink="">15</a></li>
            <li class="page-item"><a class="page-link" routerLink="">Older</a></li>
          </ul>
        </nav>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4">
          <div class="card-header">Search</div>
          <div class="card-body">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Enter search term..."
                aria-label="Enter search term..." aria-describedby="button-search" />
              <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
          </div>
        </div>
        <!-- Tags widget-->
        <div class="card mb-4" *ngIf="tags !== null && tags?.length !== 0">
          <div class="card-header">Tags you might be interested in</div>
          <div class="card-body">
            <div class="row">
              <div *ngFor="let tag of tags" class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a routerLink="">{{ tag?.name | uppercase }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Side widget-->
        <div class="card mb-4">
          <div class="card-header">Side Widget</div>
          <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and
            feature the Bootstrap 5 card component!</div>
        </div>
      </div>
    </div>
  </div>




  <div class="modal fade" id="findAllTagsError" tabindex="-1" role="dialog" aria-labelledby="findAllTagsErrorModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><strong>Pay attention!</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>
            <span *ngIf="msg === null"><span class="text-danger">Error
                fetching
                available tags!
                will be resolved later..</span>
            </span>
            <span *ngIf="msg !== null">
              <span class="text-danger">{{ msg }}</span>
            </span>
          </p>

          <div class="modal-footer">
            <button type="button" id="find-all-tags-error-form"
              onclick="<script>document.getElementById('findAllTagsError').modal('hide')</script>"
              class="btn btn-primary" data-dismiss="modal">Got it!</button>
          </div>

        </div>
      </div>
    </div>
  </div>




  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content card">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body card-body">

          <div class="text-center">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Andrew Jones"
              class="img-fluid rounded-circle" width="132" height="132">
          </div>

          <form #loginForm="ngForm">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" ngModel name="username" class="form-control" id="username" placeholder="username.."
                required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" ngModel name="password" class="form-control" id="password" placeholder="password.."
                required>
            </div>
            <div class="modal-footer">
              <button type="button" id="login-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content card">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body card-body">

          <div class="text-center">
            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Andrew Jones"
              class="img-fluid rounded-circle" width="132" height="132">
          </div>

          <form #registerForm="ngForm">
            <div class="form-group">
              <label for="firstname">Firstname</label>
              <input type="text" ngModel name="firstname" class="form-control" id="firstname" placeholder="firstname.."
                required>
            </div>
            <div class="form-group">
              <label for="lastname">Lastname</label>
              <input type="text" ngModel name="lastname" class="form-control" id="lastname" placeholder="lastname.."
                required>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" ngModel name="email" class="form-control" id="email" placeholder="email.." required>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="phone..">
            </div>
            <div class="form-group">
              <label for="birthdate">Birthdate</label>
              <input type="date" ngModel name="birthdate" class="form-control" id="birthdate" placeholder="birthdate..">
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" ngModel name="username" class="form-control" id="username" placeholder="username.."
                required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" ngModel name="password" class="form-control" id="password" placeholder="password.."
                required>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm password</label>
              <input type="password" ngModel name="confirmPassword" class="form-control" id="confirmPassword"
                placeholder="confirmPassword.." required>
            </div>
            <div class="form-group">
              <label for="role">User role</label>
              <select ngModel name="role" class="form-select" aria-label="Default select example" required>
                <option selected>==> Select your Role <==</option> <option value="CUSTOMER">CUSTOMER</option>
                <option value="WORKER">WORKER</option>
                <option value="MANAGER">MANAGER</option>
                <option value="OWNER">OWNER</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" id="register-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
