
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
<div class="container main-container">
  <div class="contentbar">
    <!-- Start row -->
    <div class="row">
      <!-- Start col -->
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card m-b-30">
          <div class="card-header">
            <h5 class="card-title">Reservation: <span class="text-success">
                <u class="text-success">REF-{{ reservationDetails?.reservation?.code?.substring(0, 8) }}</u>
                &nbsp;&nbsp;
                <span *ngIf="reservationDetails?.reservation?.status === 'NOT_STARTED'"
                  class="badge bg-danger font-25"><i class="mdi mdi-checkbox-blank-circle mr-1"></i>
                  {{ reservationDetails?.reservation?.status }}</span>
                <span *ngIf="reservationDetails?.reservation?.status === 'IN_PROGRESS'"
                  class="badge bg-primary font-25"><i class="mdi mdi-checkbox-blank-circle mr-1"></i>
                  {{ reservationDetails?.reservation?.status }}</span>
                <span *ngIf="reservationDetails?.reservation?.status === 'COMPLETED'"
                  class="badge bg-success font-25"><i class="mdi mdi-checkbox-blank-circle mr-1"></i>
                  {{ reservationDetails?.reservation?.status }}</span>
                <span *ngIf="reservationDetails?.reservation?.status === 'CANCELLED'"
                  class="badge bg-warning font-25"><i class="mdi mdi-checkbox-blank-circle mr-1"></i>
                  {{ reservationDetails?.reservation?.status }}</span>
                <span *ngIf="reservationDetails?.reservation?.status === 'OUTDATED'"
                  class="text-danger badge bg-dark font-25"><i
                    class="mdi mdi-checkbox-blank-circle mr-1"></i>
                  <s>{{ reservationDetails?.reservation?.status }}</s></span>
                <span *ngIf="reservationDetails?.reservation?.status === 'NOT_CLOSED'"
                  class="text-info badge bg-dark font-25"><i class="mdi mdi-checkbox-blank-circle mr-1"></i>
                  <s>{{ reservationDetails?.reservation?.status }}</s></span>
                </span>
                
                </h5>
                </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-lg-10 col-xl-12">
                <div class="cart-container">
                  <div class="cart-head">
                    <div *ngIf="reservationDetails?.reservation?.status === 'NOT_STARTED'.toUpperCase() 
                                || reservationDetails?.reservation?.status === 'IN_PROGRESS'.toUpperCase()">
                      <a (click)="onOpenModal(reservationDetails.reservation.saloon, orderedServiceDetails.serviceDetails.content, 'addServiceDetail')"
                        href="javascript:void(0);" class="btn text-primary ">
                        <i class="ri-shield-cross-fill"></i>
                        Add
                      </a>
                    </div>
                    <div class="table-responsive" *ngIf="orderedServiceDetails?.serviceDetails?.content?.length !== 0">
                      <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Service</th>
                            <th scope="col">Description</th>
                            <th scope="col">isAvailable?</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Price</th>
                            <!-- <th scope="col">Category</th> -->
                            <th scope="col" class="text-right">Total</th>
                            <th
                              *ngIf="reservationDetails?.reservation?.status === 'NOT_STARTED'.toUpperCase() 
                                || reservationDetails?.reservation?.status === 'IN_PROGRESS'.toUpperCase()"
                              scope="col" class="text-right">Remove</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let s of orderedServiceDetails?.serviceDetails?.content">
                          <tr>
                            <th scope="row">#</th>
                            <td>{{ s?.name | uppercase }}</td>
                            <td *ngIf="s?.description === null || s?.description === undefined || s?.description === ''">
                              <img
                                src="https://themesbox.in/admin-templates/olian/html/light-vertical/assets/images/ecommerce/product_01.svg"
                                class="img-fluid" width="35" alt="product">
                            </td>
                            <td
                              *ngIf="s?.description !== null && s?.description !== undefined && s?.description !== ''">
                              {{ s?.description }}
                            </td>
                            <td>{{ s?.isAvailable }}</td>
                            <td>{{ s?.duration }} min</td>
                            <td>{{ s?.priceUnit }} DT</td>
                            <td class="text-right">{{ s?.priceUnit }} DT</td>
                            <td
                              *ngIf="reservationDetails?.reservation?.status === 'NOT_STARTED'.toUpperCase()
                                || reservationDetails?.reservation?.status === 'IN_PROGRESS'.toUpperCase()"
                              class="text-right"><a href="javascript:void(0);"
                                (click)="removeOrderedServiceDetail(reservationDetails.reservation.id, s.id)"
                                class="text-danger"><i class="ri-delete-bin-3-line"></i></a>
                            </td>
                          </tr>
                        </tbody>
                        <!--
                          <tbody>
                            <tr>
                              <td></td>
                              <td>
                                <a (click)="onOpenModal(reservationDetails.reservation.saloon, 'addServiceDetail')"
                                  href="javascript:void(0);" class="btn btn-outline-primary ">
                                  <i class="ri-shield-cross-fill"></i>
                                  Add
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        -->
                      </table>
                    </div>
                  </div>
                  <div class="row ">
                    <form #reservationForm="ngForm">
                      <div class="cart-body">
                        <div class="row">
                          <div class="col-md-12 order-2 order-lg-1 col-lg-5 col-xl-6">
                            <div class="order-note">
                              <div class="form-group">
                                <label for="specialNotes">Special Notes (eg..Describe expected duration)</label>
                                <textarea
                                  [disabled]="reservationDetails?.reservation?.status !== 'NOT_STARTED'.toUpperCase() 
                                    && reservationDetails?.reservation?.status !== 'IN_PROGRESS'.toUpperCase()"
                                  name="description"
                                  [ngModel]="reservationDetails?.reservation?.description" class="form-control"
                                  id="specialNotes" rows="6" placeholder="Comment here..."></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 order-1 order-lg-2 col-lg-7 col-xl-6">
                            <div class="order-total table-responsive ">
                              <table class="table table-borderless text-right">
                                <tbody>
                                  <tr>
                                    <td>Reference :</td>
                                    <td><u>REF-{{ reservationDetails?.reservation?.code?.substring(0, 8) }}</u></td>
                                  </tr>
                                  <tr>
                                    <td>Requested time :</td>
                                    <td>{{ reservationDetails?.reservation?.startDate | date: "dd-MM-yyyy HH:mm" }}</td>
                                  </tr>
                                  <!--
                                <tr>
                                  <td>Expected end time :</td>
                                  <td>{{ calculateReservationEndDate() | date: "dd-MM-yyyy HH:mm" }}</td>
                                </tr>
                              -->
                                  <!--
                                <tr>
                                  <td>Ends at (estimated) :</td>
                                  <td>{{ reservationDetails?.reservation?.startDate }}</td>
                                </tr>
                              -->
                                  <tr>
                                    <td>Expected duration :</td>
                                    <td>{{ calculateTotalDuration() }} min</td>
                                  </tr>
                                  <tr>
                                    <td>Status :</td>
                                    <td>{{ reservationDetails?.reservation?.status | uppercase }}</td>
                                  </tr>
                                  <tr>
                                    <td class="f-w-7 font-18">
                                      <h4>Amount :</h4>
                                    </td>
                                    <td class="f-w-7 font-18">
                                      <h4>{{ calculateTotalAmount() }} DT</h4>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="cart-footer text-right">
                        <button
                          *ngIf="reservationDetails?.reservation?.status === 'NOT_STARTED'.toUpperCase()
                            || reservationDetails?.reservation?.status === 'IN_PROGRESS'.toUpperCase()"
                          (click)="onUpdateReservation(reservationForm.value)" type="button"
                          class="btn btn-info my-1"><i class="ri-save-line mr-2"></i>Update</button>&nbsp;
                        <a routerLink="/workspace/{{ accountUrl }}/reservations" class="btn btn-success my-1">Checkout
                          reservations<i class="ri-arrow-right-line ml-2"></i></a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End col -->
    </div>
    <!-- End row -->
  </div>
</div>

<div class="modal fade" id="addServiceDetail" tabindex="-1" role="dialog" aria-labelledby="addServiceDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content card">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Service</h5>
        <button onclick="document.getElementById('addServiceDetail').click()" type="button" class="close"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body card-body">
        <form #addServiceDetailForm="ngForm">
          <!-- <input type="hidden" [ngModel]="reservationDetails?.reservation?.id" name="reservationId" /> -->
          <select name="serviceDetailId" ngModel class="form-select" aria-label="Default select example">
            <option selected value="">==> Select a valid service <==</option>
            <option *ngFor="let s of allServiceDetails?.content" value="{{ s?.id }}">
              {{ s?.name | uppercase }} | <span class="badge text-dark">{{ s?.priceUnit }}DT</span>
            </option>
          </select>
          <div align="center"><span class="badge text-danger" *ngIf="msg.trim() !== ''">{{ msg | uppercase }}</span></div>
          <div class="modal-footer">
            <button type="button" onclick="document.getElementById('addServiceDetail').click()" id="addServiceDetail-form"
              class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addServiceDetailForm.invalid"
              (click)="onAddServiceDetail(addServiceDetailForm)"
              type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
