<div class="container">
  <div class="row ng-scope">
    <div class="col-md-3 col-md-push-9">
      <h4>Results <span class="fw-semi-bold">Filtering</span></h4>
      <p class="text-muted fs-mini">Listed content is categorized by the following group of location cities:</p>
      <div *ngIf="locations?.length === 0">
        <div class="col-lg-12 col-md-12 col-xl-12">
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">NO DATA!</h4>
            <p>No locations were found.</p>
          </div>
        </div>
      </div>
      <div *ngIf="locations?.length !== 0">
        <ul *ngFor="let l of locations" class="nav nav-pills nav-stacked search-result-categories mt">
          <li><a href="/locations/{{ l?.id }}">{{ l?.city| uppercase }}</a>&nbsp;&nbsp;</li>
          <!-- <li><a href="#">Globals <span class="badge">18</span></a></li> -->
        </ul>
      </div>
    </div>
    <div class="col-md-9 col-md-pull-3">
      <div class="container-fluid" *ngIf="saloons?.length === 0">
        <div class="col-lg-12 col-md-12 col-xl-12">
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">NO DATA!</h4>
            <p>No Facilities were found.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid" *ngIf="saloons?.length !== 0">
        <p class="search-results-count">About {{ saloons?.length }} (0.0039 sec.) results</p>
        <div *ngFor="let s of saloons">
          <section class="search-result-item">
            <a class="image-link" href="javascript:void();" (click)="getAllByCode(s.code)"><img class="image"
                src="https://bootdey.com/img/Content/avatar/avatar1.png">
            </a>
            <div class="search-result-item-body">
              <div class="row">
                <div class="col-sm-9">
                  <h4 class="search-result-item-heading"><a href="javascript:void();"
                      (click)="getAllByCode(s.code)">{{ s?.name | uppercase }}</a></h4>
                  <p class="info text-danger">{{ s?.fullAdr }}</p>
                  <p class="description">Not just usual Metro. But something bigger. Not just usual widgets, but real
                    widgets. Not just yet another admin template, but next generation admin template.</p>
                </div>
                <div class="col-sm-3 text-align-center">
                  <!-- <p class="value3 mt-sm">$9, 700</p> -->
                  <p class="fs-mini text-muted">DAILY</p>
                  <a class="btn btn-info btn-sm" routerLink="/saloons/{{ s?.id }}">More details</a>
                </div>
              </div>
            </div>
          </section>
          <hr>
        </div>
        <!-- Pagination-->
        <nav aria-label="Pagination">
          <ul class="pagination justify-content-center my-4">
            <li class="page-item disabled"><a class="page-link" routerLink="" tabindex="-1"
                aria-disabled="true">Newer</a>
            </li>
            <li class="page-item active" aria-current="page"><a class="page-link" routerLink="">1</a></li>
            <li class="page-item"><a class="page-link" routerLink="">2</a></li>
            <li class="page-item"><a class="page-link" routerLink="">3</a></li>
            <li class="page-item disabled"><a class="page-link" routerLink="">...</a></li>
            <li class="page-item"><a class="page-link" routerLink="">15</a></li>
            <li class="page-item"><a class="page-link" routerLink="">Older</a></li>
          </ul>
        </nav>
      </div>
      <!--
        <div class="container-fluid">
          <p class="search-results-count">About 94 700 000 (0.39 sec.) results</p>
          <section class="search-result-item">
            <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
            </a>
            <div class="search-result-item-body">
              <div class="row">
                <div class="col-sm-9">
                  <h4 class="search-result-item-heading"><a href="#">john doe</a></h4>
                  <p class="info">New York, NY 20188</p>
                  <p class="description">Not just usual Metro. But something bigger. Not just usual widgets, but real
                    widgets. Not just yet another admin template, but next generation admin template.</p>
                </div>
                <div class="col-sm-3 text-align-center">
                  <p class="value3 mt-sm">$9, 700</p>
                  <p class="fs-mini text-muted">PER WEEK</p><a class="btn btn-primary btn-info btn-sm" href="#">Learn
                    More</a>
                </div>
              </div>
            </div>
          </section>
          <section class="search-result-item">
            <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar6.png">
            </a>
            <div class="search-result-item-body">
              <div class="row">
                <div class="col-sm-9">
                  <h4 class="search-result-item-heading"><a href="#">john doe</a> <span
                      class="badge bg-danger fw-normal pull-right">Best Deal!</span></h4>
                  <p class="info">Los Angeles, NY 20188</p>
                  <p class="description">You will never know exactly how something will go until you try it. You can
                    think
                    three hundred times and still have no precise result.</p>
                </div>
                <div class="col-sm-3 text-align-center">
                  <p class="value3 mt-sm">$10, 300</p>
                  <p class="fs-mini text-muted">PER WEEK</p><a class="btn btn-primary btn-info btn-sm" href="#">Learn
                    More</a>
                </div>
              </div>
            </div>
          </section>
          <section class="search-result-item">
            <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar2.png">
            </a>
            <div class="search-result-item-body">
              <div class="row">
                <div class="col-sm-9">
                  <h4 class="search-result-item-heading"><a href="#">john doe</a></h4>
                  <p class="info">New York, NY 20188</p>
                  <p class="description">The Great Prince of the Grand Duchy of Lithuania he had stopped the invasion to
                    Europe of Timur (Tamerlan) from Asia heading a big Army of Belarusians, Lithuanians.</p>
                </div>
                <div class="col-sm-3 text-align-center">
                  <p class="value3 mt-sm">$3, 200</p>
                  <p class="fs-mini text-muted">PER WEEK</p><a class="btn btn-info btn-sm" href="#">Learn More</a>
                </div>
              </div>
            </div>
          </section>
          <section class="search-result-item">
            <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar3.png">
            </a>
            <div class="search-result-item-body">
              <div class="row">
                <div class="col-sm-9">
                  <h4 class="search-result-item-heading"><a href="#">john doe</a></h4>
                  <p class="info">Minsk, NY 20188</p>
                  <p class="description">Yes you can! Further more, you should! It let's you create really beautiful
                    images
                    either for elements or for the entire background.</p>
                </div>
                <div class="col-sm-3 text-align-center">
                  <p class="value3 mt-sm">$2, 400</p>
                  <p class="fs-mini text-muted">PER MONTH</p><a class="btn btn-info btn-sm" href="#">Learn More</a>
                </div>
              </div>
            </div>
          </section>
          <div class="text-align-center">
            <ul class="pagination pagination-sm">
              <li class="disabled"><a href="#">Prev</a>
              </li>
              <li class="active"><a href="#">1</a>
              </li>
              <li><a href="#">2</a>
              </li>
              <li><a href="#">3</a>
              </li>
              <li><a href="#">4</a>
              </li>
              <li><a href="#">5</a>
              </li>
              <li><a href="#">Next</a>
              </li>
            </ul>
          </div>
        </div>
      -->
    </div>
  </div>
</div>