
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div *ngFor="let e of employees?.content" class="col-md-4">
      <div class="card user-card">
        <div class="card-header">
          <h5>Profile</h5>
        </div>
        <div class="card-block">
          <div class="user-image">
            <a routerLink="/workspace/{{ accountUrl }}/ratings/details/{{ e?.id }}">
              <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="img-radius" alt="User-Profile-Image">
            </a>
          </div>
          <h6 class="f-w-600 m-t-25 m-b-10"><a
              routerLink="/workspace/{{ accountUrl }}/ratings/details/{{ e?.id }}">{{ e?.firstname }}
              {{ e?.lastname }}</a></h6>
          <p class="text-muted">Active | Male | Born 23.05.1992</p>
          <hr>
          <p class="text-muted m-t-15">Activity Level: {{ calculateEmployeeRatings(e) }}%</p>
          <ul class="list-unstyled activity-leval">
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li></li>
            <li></li>
          </ul>
          <div class="bg-c-blue counter-block m-t-10 p-20">
            <div class="row">
              <div class="col-4">
                <i class="fa fa-comment"></i>
                <p>1256</p>
              </div>
              <div class="col-4">
                <i class="fa fa-user"></i>
                <p>8562</p>
              </div>
              <div class="col-4">
                <i class="fa fa-suitcase"></i>
                <p>189</p>
              </div>
            </div>
          </div>
          <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <hr>
          <div class="row justify-content-center user-social-link">
            <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
            <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
            <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>