<div class="container">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-pattern">
        <div class="card-body">
          <div class="float-right">
            <i class="fa fa-archive text-primary h4 ml-3"></i>
          </div>
          <h5 class="font-size-20 mt-0 pt-1">{{ reservations?.length }}</h5>
          <p class="text-muted mb-0">Total Reservations</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-pattern">
        <div class="card-body">
          <div class="float-right">
            <i class="fa fa-th text-primary h4 ml-3"></i>
          </div>
          <h5 class="font-size-20 mt-0 pt-1">{{ getCompletedReservations()?.length }}</h5>
          <p class="text-muted mb-0">Completed Reservations</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-pattern">
        <div class="card-body">
          <div class="float-right">
            <i class="fa fa-file text-primary h4 ml-3"></i>
          </div>
          <h5 class="font-size-20 mt-0 pt-1">{{ getPendingReservations()?.length }}</h5>
          <p class="text-muted mb-0">Pending Reservations</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6" >
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group mb-0">
              <label>Search</label>
              <div class="input-group mb-0">
                <input (ngModelChange)="searchBy(key.value)" ngModel name="key" #key="ngModel" type="search"
                  class="form-control" placeholder="Search..." aria-describedby="project-search-addon" required />
                <div class="input-group-append">
                  
                    <button class="btn btn-danger" type="button" id="project-search-addon"><i
                        class="fa fa-search search-icon font-12"></i></button>
                  
                </div>
              </div>
              <!--
                <div class="input-group mb-0">
                  <input name="key" [(ngModel)]="key" type="search" class="form-control" placeholder="Search..."
                    aria-describedby="project-search-addon" required />
                  <div class="input-group-append">

                    <button class="btn btn-danger" type="button" id="project-search-addon"><i
                        class="fa fa-search search-icon font-12"></i></button>

                  </div>
                </div>
              -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
  
  <!--
    <div>
      <a class="btn btn-outline-success" href="javascript:void();" (click)="onNewReservation()">New Reservation?</a>
    </div>
  -->
  
  <br>
  
  <div class="row" *ngIf="reservations?.length !== 0">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive project-list">
            <table class="table project-table table-centered table-nowrap">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">Reservation code</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Cancel Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Assigned</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let r of reservations">
                <tr>
                  <td><a
                      routerLink="/workspace/{{ accountUrl }}/reservations/{{ r?.id }}">REF-{{ r?.code?.substring(0, 8) }}</a>
                  </td>
                  <td>{{ r?.startDate | date: "dd-MM-yyyy HH:mm" }}</td>
                  <td>{{ r?.cancelDate | date: "dd-MM-yyyy HH:mm" }}</td>
                  <td>
                    <span *ngIf="r?.status === 'NOT_STARTED'" class="text-danger font-12"><i
                        class="mdi mdi-checkbox-blank-circle mr-1"></i>
                      {{ r?.status }}</span>
                    <span *ngIf="r?.status === 'IN_PROGRESS'" class="text-primary font-12"><i
                        class="mdi mdi-checkbox-blank-circle mr-1"></i>
                      {{ r?.status }}</span>
                    <span *ngIf="r?.status === 'COMPLETED'" class="text-success font-12"><i
                        class="mdi mdi-checkbox-blank-circle mr-1"></i>
                      {{ r?.status }}</span>
                    <span *ngIf="r?.status === 'CANCELLED'" class="text-gray font-12"><i
                        class="mdi mdi-checkbox-blank-circle mr-1"></i>
                      {{ r?.status }}</span>
                  </td>
                  <td>
                    <div class="team" *ngFor="let t of tasks">
                      <a routerLink="/workspace/{{ accountUrl }}/reservations/assigned/{{ t?.workerId }}"
                        class="team-member" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Roger Drake">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle avatar-xs"
                          alt="" />
                      </a>
                    </div>
                  </td>
                  <td>
                    <p class="mb-0">{{ r?.description }}</p>
                  </td>
                  
                  <td>
                    <div class="action">
                      <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                      <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Close"> <i class="fa fa-remove h5 m-0"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- end project-list -->

          <div class="pt-3">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
