
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
<div id="main-container" class="container">
  <div class="contentbar">
    <!-- Start row -->
    <div class="row">
      <!-- Start col -->
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card m-b-30">
          <div class="card-header">
            <h5 class="card-title">Reservation: <span class="text-success">
                <u class="text-success">REF-{{ reservationDetails?.reservation?.code?.substring(0, 8) }}</u></span></h5>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-lg-10 col-xl-12">
                <div class="cart-container">
                  <div class="cart-head">
                    <div class="table-responsive" *ngIf="orderedServiceDetails?.serviceDetails?.content?.length !== 0">
                      <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Service</th>
                            <th scope="col">Description</th>
                            <th scope="col">isAvailable?</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Price</th>
                            <!-- <th scope="col">Category</th> -->
                            <th scope="col" class="text-right">Total</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let s of orderedServiceDetails?.serviceDetails?.content">
                          <tr>
                            <th scope="row">#</th>
                            <td>{{ s?.name | uppercase }}</td>
                            <td>{{ s?.description }}</td>
                            <td>{{ s?.isAvailable }}</td>
                            <td>{{ s?.duration }} min</td>
                            <td>{{ s?.priceUnit }} DT</td>
                            <td class="text-right">{{ s?.priceUnit }} DT</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="cart-body">
                      <div class="row">
                        <div class="col-md-12 order-2 order-lg-1 col-lg-5 col-xl-6">
                          <div class="order-note">
                            <div class="form-group">
                              <label for="specialNotes">Special Customer Notes (eg.. expected duration)</label>
                              <textarea
                                name="description" [ngModel]="reservationDetails?.reservation?.description"
                                class="form-control" id="specialNotes" rows="6" disabled></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 order-1 order-lg-2 col-lg-7 col-xl-6">
                          <div class="order-total table-responsive ">
                            <table class="table table-borderless text-right">
                              <tbody>
                                <tr>
                                  <td>Reference :</td>
                                  <td><u>REF-{{ reservationDetails?.reservation?.code?.substring(0, 8) }}</u></td>
                                </tr>
                                <tr>
                                  <td>Requested time :</td>
                                  <td>{{ reservationDetails?.reservation?.startDate | date: "dd-MM-yyyy HH:mm" }}</td>
                                </tr>
                                <tr>
                                  <td>Expected duration :</td>
                                  <td>{{ calculateTotalDuration() }} min</td>
                                </tr>
                                <tr>
                                  <td>Status :</td>
                                  <td>{{ reservationDetails?.reservation?.status | uppercase }}</td>
                                </tr>
                                <tr>
                                  <td class="f-w-7 font-18">
                                    <h4>Amount :</h4>
                                  </td>
                                  <td class="f-w-7 font-18">
                                    <h4>{{ calculateTotalAmount() }} DT</h4>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cart-footer text-right">
                      <button
                        *ngIf="reservationDetails?.reservation?.status === 'NOT_STARTED' 
                          || reservationDetails?.reservation?.status === 'IN_PROGRESS'"
                        (click)="openBeginTask()" id="beginTaskBtn" type="button" class="btn
                        btn-danger my-1"><i class=""></i>
                        Begin Task
                      </button>&nbsp;
                      <a href="/workspace/{{ accountUrl }}/reservations" class="btn btn-success my-1">Checkout assigned
                        reservations<i class="ri-arrow-right-line ml-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End col -->
    </div>
    <!-- End row -->
  </div>
</div>




<div class="modal fade" id="beginReservationTask" tabindex="-1" role="dialog" aria-labelledby="beginReservationTaskModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content card">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel"><u>Begin Task</u></h5>
        <button onclick="document.getElementById('beginReservationTask').click()" type="button" class="close"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body card-body">
        <form #beginReservationTaskForm="ngForm" (ngSubmit)="onBeginTask(beginReservationTaskForm)">
          <div class="form-group">
            <label for="specialNotes">Write your task comment</label>
            <textarea name="description" class="form-control" id="specialNotes" rows="4" placeholder="Comment here..."></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" onclick="document.getElementById('beginReservationTask').click()"
              id="addServiceDetail-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="beginReservationTaskForm.invalid" 
             type="submit" class="btn btn-success">Begin</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

