
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <form #searchForm="ngForm"  >
            <div class="container input-group">
              <input type="search" class="form-control" placeholder="Search..">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>
        <br><br>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-uppercase mb-0 text-dark">Manage Workers</h4>
          </div>
          <div class="card-body table-responsive table-hover ">
            <table class="table no-wrap user-table mb-0">
              <thead>
                <tr>
                  <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">FullName</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">Occupation</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">Email - Phone</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">Birthdate</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">Hired</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">Reservations</th>
                  <!-- <th scope="col" class="border-0 text-uppercase font-medium">Category</th> -->
                  <th scope="col" class="border-0 text-uppercase font-medium text-center ">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let w of managerWorkerInfoResponse?.subWorkers?.content">
                  <td class="pl-4"><strong>#</strong></td>
                  <td>
                    <h5 class="font-medium mb-0">
                      <a routerLink="/workspace/{{ accountUrl }}/workers/{{ w?.id }}">
                        {{ w?.firstname?.substring(0, 1) | uppercase }}{{ w?.firstname?.substring(1) | lowercase }}
                        {{ w?.lastname | uppercase }}
                      </a>
                    </h5>
                    <span class="text-muted">{{ w?.saloon?.name | lowercase }}</span><br>
                    <span class="text-muted">#{{ w?.saloon?.code?.substring(0, 8) | lowercase }}</span>
                  </td>
                  <td>
                    <span class="">{{ w?.credential?.role | uppercase }}</span><br>
                    <span class="text-muted">Role</span>
                  </td>
                  <td>
                    <span class="">{{ w?.email | lowercase }}</span><br>
                    <span class="text-muted">{{ w?.phone | lowercase }}</span>
                  </td>
                  <td>
                    <span class="">{{ w?.birthdate | date: 'dd-MMM-yyyy' }}</span><br>
                    <span class="text-muted">{{ w?.birthdate | date: 'MMMM yyyy' }}</span>
                  </td>
                  <td>
                    <span class="">{{ w?.hiredate | date: 'dd-MMM-yyyy' }}</span><br>
                    <span class="text-muted">{{ w?.hiredate | date: 'MMMM yyyy' }}</span>
                  </td>
                  <td>
                    <span class="">
                      <a class="btn btn-outline-primary "
                          routerLink="/workspace/{{ accountUrl }}/reservations/workers/{{ w?.id }}">
                        Checkout reservations ?
                      </a>
                    </span>
                  </td>
                  <!--
                    <td>
                      <select class="form-control category-select" id="exampleFormControlSelect1">
                        <option>Modulator</option>
                        <option>Admin</option>
                        <option>User</option>
                        <option>Subscriber</option>
                      </select>
                    </td>
                  -->
                  <td class="text-center ">
                    <!--
                      <button type="button" class="btn btn-outline-primary btn-circle btn-lg btn-circle"><i
                          class="fa fa-key"></i> </button>
                      <button type="button" class="btn btn-outline-primary btn-circle btn-lg btn-circle ml-2"><i
                          class="fa fa-upload"></i> </button>
                    -->
                    <button type="button" class="btn btn-outline-primary btn-circle btn-lg btn-circle ml-2"><i
                        class="fa fa-edit"></i> </button>
                    <button type="button" class="btn btn-outline-primary btn-circle btn-lg btn-circle ml-2"><i
                        class="fa fa-trash"></i> </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>