
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-uppercase mb-0">Manage Workers</h5>
          </div>
          <div class="table-responsive table-hover ">
            <table class="table no-wrap user-table mb-0">
              <thead class="text-center">
                <tr>
                  <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">FullName</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">Occupation</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">Hired</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">Birthdate</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">Category</th>
                  <th scope="col" class="border-0 text-uppercase font-medium">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="pl-4"><strong>#</strong></td>
                  <td>
                    <h5 class="font-medium mb-0">Daniel Kristeen</h5>
                    <span class="text-muted">Texas, Unitedd states</span>
                  </td>
                  <td>
                    <span class="text-muted">Worker</span><br>
                    <!--<span class="text-muted">Past : teacher</span>-->
                  </td>
                  <td>
                    <span class="text-muted">daniel@website.com</span><br>
                    <span class="text-muted">999 - 444 - 555</span>
                  </td>
                  <td>
                    <span class="text-muted">15 Mar 1988</span><br>
                    <span class="text-muted">10: 55 AM</span>
                  </td>
                  <td>
                    <span class="text-muted">15 Mar 1988</span><br>
                    <span class="text-muted">10: 55 AM</span>
                  </td>
                  <td>
                    <select class="form-control category-select" id="exampleFormControlSelect1">
                      <option>Modulator</option>
                      <option>Admin</option>
                      <option>User</option>
                      <option>Subscriber</option>
                    </select>
                  </td>
                  <td>
                    <button type="button" class="btn btn-outline-primary btn-circle btn-lg btn-circle"><i
                        class="fa fa-key"></i> </button>
                    <button type="button" class="btn btn-outline-primary btn-circle btn-lg btn-circle ml-2"><i
                        class="fa fa-trash"></i> </button>
                    <button type="button" class="btn btn-outline-primary btn-circle btn-lg btn-circle ml-2"><i
                        class="fa fa-edit"></i> </button>
                    <button type="button" class="btn btn-outline-primary btn-circle btn-lg btn-circle ml-2"><i
                        class="fa fa-upload"></i> </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>