
<div id="main-container">
  <div class="container">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  

  <div class="modal fade" id="createReservation" tabindex="-1" role="dialog"
    aria-labelledby="createReservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content card">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel"><u>New Reservation</u></h5>
          <button onclick="document.getElementById('createReservation').click()" type="button" class="close"
            data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body card-body">
          <form #createReservationForm="ngForm" (ngSubmit)="onCreateReservation(createReservationForm)">
            <!-- <input type="hidden" [ngModel]="reservationDetails?.reservation?.id" name="reservationId" /> -->
            
            <div class="form-group">
              <label for="servicesSwitches">
                <h5>Services to choose<span class="badge text-danger">* required</span></h5>
              </label>
              <div *ngFor="let i of ['Java', 'Python', 'SQL', 'Typescript']" id="servicesSwitches"
                class="form-check form-switch">
                <input name="serviceDetails" ngModel class="form-check-input" type="checkbox"
                  id="flexSwitchCheckDefault" required>
                <label class="form-check-label" for="flexSwitchCheckDefault">Service Name of facility</label>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label for="description">
                <h5>Description <span class="badge text-dark">(e.g: Expected duration)</span></h5>
              </label>
              <textarea name="description" ngModel type="text" ngModel name="description" class="form-control"
                id="description" placeholder="Comment.."></textarea>
            </div>

            <div class="modal-footer">
              <button type="button" onclick="document.getElementById('createReservation').click()"
                id="createReservation-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button [disabled]="createReservationForm.invalid"
                type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


