<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light"><a class="navbar-brand" routerLink="/">ATIC</a></div>
  <div class="list-group list-group-flush">
    <div class="dropdown" *ngFor="let i of items">
      <a class="{{ (i.link === '')? 'dropdown-toggle ' : '' }} list-group-item list-group-item-action list-group-item-light p-3"
        id="dropdownMenuLink" routerLink="/workspace/customer/{{ i.link }}">
        {{ i.name }}
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" *ngFor="let sub of i.subItems">
        <li><a class="dropdown-item"
            routerLink="/workspace/customer/{{ sub.link }}">{{ sub.name }}</a></li>
      </ul>
    </div>
  </div>
</div>