
<app-navbar></app-navbar>

<div class="container h-100" id="main-container">
  <div class="row h-100">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
      <div class="d-table-cell align-middle">

        <div class="text-center mt-4">
          <h1 class="h2">Welcome</h1>
          <p class="lead">
            Login to continue..<br>
            <i class="text-secondary"><span>Inputs marked with <span class="text-danger">*</span> are
                required</span></i>
          </p>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="m-sm-4">
              <div class="text-center">
                <img src="{{ randomImgUrl }}" alt="User :)"
                  class="img-fluid rounded-circle" width="132" height="132">
              </div>
              <form #loginForm="ngForm">
                <div class="form-group">
                  <label for="username">Username <span class="text-danger">*</span></label>
                  <input type="text" ngModel name="username" ngModel="{{ registeredUsername }}" class="form-control"
                    id="username" placeholder="username.."
                    required>
                </div>
                <div class="form-group">
                  <label for="password">Password <span class="text-danger">*</span></label>
                  <input type="password" ngModel name="password" class="form-control" id="password"
                    placeholder="password.." required>
                </div>
                <div class="modal-footer">
                  <button [disabled]="loginForm.invalid" (click)="onLogin(loginForm.value)" type="submit"
                    class="btn btn-info">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="login" tabindex="-1" role="dialog"
  aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Pay attention!</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <p>
          <span *ngIf="msg == null"><span class="text-danger">Error
              when authenticating!
              will be resolved later..</span> </span>
          <span *ngIf="msg != null"> <span
              class="text-danger">{{ msg }}</span>
          </span>
        </p>
        
        <!--
        <div class="modal-footer">
          <button type="button" id="login-form"
            onclick="() => $('#login').hide()"
            class="btn btn-primary"
            data-dismiss="modal">Got it!</button>
        </div>
        -->

      </div>
    </div>
  </div>
</div>






